Repository keilermora/angular-pokedex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

.lintstagedrc:

{
  "src/**/*.{html,js,json,md,scss,ts}": [
    "prettier --write --ignore-unknown --cache --cache-strategy metadata src"
  ],
  "src/**/*.{js,ts}": [
    "eslint --fix --cache --max-warnings=0"
  ]
}

feat: clarifies Pokémon card color
  src/app/views/home/components/pokemon-card/pokemon-card.component.scss
  src/app/views/home/components/pokemon-card/pokemon-card.component.ts
  src/app/views/home/home.component.ts
  src/app/views/internal-server-error/internal-server-error.component.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

Updates
  223.371ab7b32c77dc9f.js
  267.220d842c5c3b296e.js
  354.d95e5220f67ab3e6.js
  3rdpartylicenses.txt
  450.e2f5a710e20a379f.js
  575.3c3a9948d2359777.js
  626.89e7deb032c64e78.js
  710.4e54430940e7fd88.js
  737.d01da50223341e52.js
  785.e2a3c2bd0d7fc875.js
  860.c8d5a1682c2f3c8d.js
  959.c5a6a647f22e5018.js
  common.68ad20a4dacd0483.js
  index.html
  main.865a961bccf563fa.js
  main.c95c065589450a02.js
  ngsw-worker.js
  ngsw.json
  polyfills.f94d7e30625da93a.js
  polyfills.fa6f98b6deae32c5.js
  runtime.82dd082319848f00.js
  runtime.b3f58e3684856b2b.js
  safety-worker.js
  styles.4a4e4a0c801708ed.css
  styles.4bf7a07ff0f2aeab.css
  worker-basic.min.js
Due: none

Updates
  223.371ab7b32c77dc9f.js
  223.d314c6fb0d2de3fc.js
  404.html
  450.e2f5a710e20a379f.js
  450.f6b0453cb45083af.js
  575.3c3a9948d2359777.js
  575.bf9a626c1da769fc.js
  785.aebe14b0c7ae8b73.js
  785.e2a3c2bd0d7fc875.js
  860.c6d1aa85a18dd6e7.js
  860.c8d5a1682c2f3c8d.js
  959.0ea82d355ded0c11.js
  959.c5a6a647f22e5018.js
  index.html
  main.c95c065589450a02.js
  main.fb2f9e91fc46ef8f.js
  ngsw.json
  polyfills.b408f1587af0394b.js
  polyfills.f94d7e30625da93a.js
  runtime.566f73731330d510.js
  runtime.82dd082319848f00.js
Due: none

refactor: update project's name
  README.md
  angular.json
  karma.conf.js
  package-lock.json
  package.json
  src/404.html
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/index.html
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

chore(package-lock.json): run npm audit fix
  package-lock.json
Due: none

feat: update angular to v17
  angular.json
  package-lock.json
  package.json
Due: none

chore: update dependencies to work with angular v17
  angular.json
  package-lock.json
  package.json
Due: none

feat: add withViewTransitions feature
  src/app/app.config.ts
  src/app/core/services/filter/filter.service.ts
  src/app/core/services/pokemon-type/pokemon-type.service.spec.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

chore: add vscode config
  .lingua
  .vscode/settings.json
Due: none

feat: add NgOptimizedImage feature
  src/app/views/about/about.component.html
  src/app/views/about/about.component.ts
  src/app/views/home/components/pokemon-card/pokemon-card.component.html
  src/app/views/home/components/pokemon-card/pokemon-card.component.ts
  src/app/views/home/components/pokemon-list/pokemon-list.component.html
  src/app/views/home/components/pokemon-list/pokemon-list.component.ts
  src/app/views/home/home.component.html
  src/app/views/home/home.component.ts
  src/app/views/internal-server-error/internal-server-error.component.html
  src/app/views/internal-server-error/internal-server-error.component.ts
  src/app/views/not-found/not-found.component.html
  src/app/views/not-found/not-found.component.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

refactor: simplify class names
  src/app/shared/components/dialog-box/dialog-box.component.scss
  src/app/views/about/about.component.html
  src/app/views/about/about.component.scss
  src/app/views/internal-server-error/internal-server-error.component.html
  src/app/views/internal-server-error/internal-server-error.component.scss
  src/app/views/not-found/not-found.component.html
  src/app/views/not-found/not-found.component.scss
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src

refactor: set control flow
  src/app/data/constants/pokedex-versions.constant.ts
  src/app/shared/components/footer/footer.component.scss
  src/app/views/home/components/pokemon-card/pokemon-card.component.html
  src/app/views/home/components/pokemon-card/pokemon-card.component.scss
  src/app/views/home/components/pokemon-card/pokemon-card.component.ts
  src/app/views/home/components/pokemon-list/pokemon-list.component.html
  src/app/views/home/components/pokemon-list/pokemon-list.component.ts
  src/app/views/home/components/sidebar/sidebar.component.html
  src/app/views/home/components/sidebar/sidebar.component.ts
  src/app/views/pokemon-details/components/battle-stats/battle-stats.component.html
  src/app/views/pokemon-details/components/battle-stats/battle-stats.component.ts
  src/app/views/pokemon-details/components/breadcrumb/breadcrumb.component.html
  src/app/views/pokemon-details/components/breadcrumb/breadcrumb.component.ts
  src/app/views/pokemon-details/components/paginator/paginator.component.html
  src/app/views/pokemon-details/components/paginator/paginator.component.ts
  src/app/views/pokemon-details/components/pokedex-entries/pokedex-entries.component.html
  src/app/views/pokemon-details/components/pokedex-entries/pokedex-entries.component.ts
  src/app/views/pokemon-details/components/pokemon-profile/pokemon-profile.component.html
  src/app/views/pokemon-details/components/pokemon-profile/pokemon-profile.component.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0
