Repository keilermora/angular-pokedex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

feat: prevent tracing analytics on localhost
  src/environments/environment.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

refactor: move styles folder outside assets
  angular.json
  src/app/shared/layout/layout.component.html
  src/assets/styles/base/_typography.scss
  src/assets/styles/themes/_gb.scss
  src/assets/styles/themes/_gba.scss
  src/assets/styles/themes/_gbc.scss
  src/styles.scss
  src/styles/base/_reset.scss
  src/styles/base/_typography.scss
  src/styles/components/_button.scss
  src/styles/components/_form.scss
  src/styles/components/_input.scss
  src/styles/components/_radio-button.scss
  src/styles/components/_scrollbar.scss
  src/styles/components/_select.scss
  src/styles/utils/_colors.scss
  src/styles/utils/_font-sizes.scss
  src/styles/utils/_media-query.scss
  src/styles/utils/_screen-width.scss
  src/styles/utils/_transition.scss
  src/styles/utils/_z-index.scss
  src/styles/vendors/_normalize.css.scss
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src

feat: add a new Pokémon card styles
  src/app/shared/components/dialog-box/dialog-box.component.scss
  src/app/shared/layout/layout.component.scss
  src/app/views/home/components/pokemon-card/pokemon-card.component.html
  src/app/views/home/components/pokemon-card/pokemon-card.component.scss
  src/app/views/home/components/pokemon-card/pokemon-card.component.ts
  src/app/views/home/components/sidenav/sidenav.component.scss
  src/styles/base/_reset.scss
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

test: fix Pokémon card component tests
  angular.json
  src/app/shared/pipes/pokemon-sprite-position/pokemon-sprite-position.pipe.spec.ts
  src/app/views/home/components/pokemon-card/pokemon-card.component.html
  src/app/views/home/components/pokemon-card/pokemon-card.component.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

feat: make a better home layout
  src/app/shared/components/navbar/navbar.component.html
  src/app/shared/components/navbar/navbar.component.scss
  src/app/shared/components/navbar/navbar.component.ts
  src/app/views/home/components/pokemon-card/pokemon-card.component.scss
  src/app/views/home/components/pokemon-card/pokemon-card.component.ts
  src/app/views/home/components/pokemon-list/pokemon-list.component.scss
  src/app/views/home/components/sidebar/sidebar.component.html
  src/app/views/home/components/sidebar/sidebar.component.scss
  src/app/views/home/components/sidebar/sidebar.component.spec.ts
  src/app/views/home/components/sidebar/sidebar.component.ts
  src/app/views/home/home.component.html
  src/app/views/home/home.component.scss
  src/app/views/home/home.component.spec.ts
  src/app/views/home/home.module.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

feat: add automatic swupdate
  src/app/app.component.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

refactor: remove theme word in some classes
  src/app/shared/components/navbar/navbar.component.html
  src/app/views/about/about.component.html
  src/app/views/home/components/sidebar/sidebar.component.html
  src/app/views/home/components/sidebar/sidebar.component.scss
  src/app/views/internal-server-error/internal-server-error.component.html
  src/app/views/not-found/not-found.component.html
  src/app/views/pokemon-details/pokemon-details.component.html
  src/app/views/pokemon-details/pokemon-details.component.scss
  src/styles/components/_button.scss
  src/styles/components/_form.scss
  src/styles/components/_radio-button.scss
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src

feat: change arrow character
  src/app/views/home/components/status-bar/status-bar.component.html
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src

Updates
  267.2e9c471eba3d6de4.js
  267.fddce6a0f6c42de1.js
  354.895fae2a109d31f8.js
  354.e5e4979db982d5de.js
  373.8cde753ef9910173.js
  618.8d934c459e59240a.js
  624.4d8ce3235f2274f2.js
  624.6c8bbb0c1db39722.js
  737.9b2aed80e5970cf9.js
  737.bdf4d63baa33fd79.js
  index.html
  main.2ade94e30be25ab1.js
  main.b509075634e26db8.js
  ngsw.json
  runtime.1e5e3af28ed7257b.js
  runtime.63ceebe5e545ee69.js
  styles.4483c1bff10e546d.css
  styles.af94f25598ae40bb.css
Due: none

fix: update pokemon types key version
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

Updates
  index.html
  main.0ca2fbff6d46dcff.js
  main.b509075634e26db8.js
  ngsw.json
Due: none

fix: update pokemons key version
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

fix: fix arrow characters
  src/app/views/home/components/status-bar/status-bar.component.html
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src

Updates
  373.820abf8ed695d0a6.js
  373.8cde753ef9910173.js
  index.html
  main.0ca2fbff6d46dcff.js
  main.62181a7676b6d059.js
  ngsw.json
  runtime.4a64a473d5676f3c.js
  runtime.63ceebe5e545ee69.js
Due: none

fix: fix local storage keys consistency
  src/app/core/services/pokemon-type/pokemon-type.service.ts
  src/app/core/services/pokemon/pokemon.service.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

Updates
  373.820abf8ed695d0a6.js
  373.b69bcbe3914a3cdd.js
  index.html
  ngsw.json
  runtime.4a64a473d5676f3c.js
  runtime.d40b9f0c3ec38148.js
Due: none

fix: fix unit tests based on localStorage
  src/app/core/services/pokemon-type/pokemon-type.service.spec.ts
  src/app/core/services/pokemon/pokemon.service.spec.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

feat(pokemon-details): pokemon details layout remake
  src/app/shared/components/dialog-box/dialog-box.component.scss
  src/app/shared/directives/hide-element.directive.spec.ts
  src/app/shared/directives/hide-element.directive.ts
  src/app/shared/shared.module.ts
  src/app/views/about/about.component.html
  src/app/views/about/about.component.scss
  src/app/views/home/components/pokemon-card/pokemon-card.component.scss
  src/app/views/home/components/pokemon-list/pokemon-list.component.scss
  src/app/views/home/home.component.html
  src/app/views/home/home.component.scss
  src/app/views/internal-server-error/internal-server-error.component.html
  src/app/views/internal-server-error/internal-server-error.component.scss
  src/app/views/pokemon-details/components/battle-stats/battle-stats.component.html
  src/app/views/pokemon-details/components/battle-stats/battle-stats.component.scss
  src/app/views/pokemon-details/components/battle-stats/battle-stats.component.spec.ts
  src/app/views/pokemon-details/components/battle-stats/battle-stats.component.ts
  src/app/views/pokemon-details/components/breadcrumb/breadcrumb.component.html
  src/app/views/pokemon-details/components/breadcrumb/breadcrumb.component.scss
  src/app/views/pokemon-details/components/breadcrumb/breadcrumb.component.spec.ts
  src/app/views/pokemon-details/components/breadcrumb/breadcrumb.component.ts
  src/app/views/pokemon-details/components/paginator/paginator.component.html
  src/app/views/pokemon-details/components/paginator/paginator.component.scss
  src/app/views/pokemon-details/components/paginator/paginator.component.spec.ts
  src/app/views/pokemon-details/components/paginator/paginator.component.ts
  src/app/views/pokemon-details/components/pokedex-entries/pokedex-entries.component.html
  src/app/views/pokemon-details/components/pokedex-entries/pokedex-entries.component.scss
  src/app/views/pokemon-details/components/pokedex-entries/pokedex-entries.component.spec.ts
  src/app/views/pokemon-details/components/pokedex-entries/pokedex-entries.component.ts
  src/app/views/pokemon-details/components/pokemon-profile/pokemon-profile.component.html
  src/app/views/pokemon-details/components/pokemon-profile/pokemon-profile.component.scss
  src/app/views/pokemon-details/components/pokemon-profile/pokemon-profile.component.spec.ts
  src/app/views/pokemon-details/components/pokemon-profile/pokemon-profile.component.ts
  src/app/views/pokemon-details/pokemon-details.component.html
  src/app/views/pokemon-details/pokemon-details.component.scss
  src/app/views/pokemon-details/pokemon-details.component.spec.ts
  src/app/views/pokemon-details/pokemon-details.module.ts
  src/styles/base/_reset.scss
  src/styles/utils/_colors.scss
  src/styles/utils/_transition.scss
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

fix(reset): remove unnecesary img style
  src/styles/base/_reset.scss
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src

feat: update angular to v15
  .browserslistrc
  .eslintrc.json
  angular.json
  package-lock.json
  package.json
  src/app/shared/directives/query-params-handling.directive.ts
  tsconfig.json
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

feat(package.json): change apollo-angular overrides
  package.json
Due: none

chore: success updating to Angular v15
  package-lock.json
  package.json
Due: none

fix(paginator.component.scss): remove paginator fixed height
  src/app/views/pokemon-details/components/paginator/paginator.component.scss
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src

feat: add default language key to both environments
  src/app/core/services/language/language.service.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

Updates
  267.220d842c5c3b296e.js
  267.fddce6a0f6c42de1.js
  354.d95e5220f67ab3e6.js
  354.e5e4979db982d5de.js
  373.b69bcbe3914a3cdd.js
  3rdpartylicenses.txt
  624.6c8bbb0c1db39722.js
  626.89e7deb032c64e78.js
  710.47f826c127bcd01b.js
  737.9b2aed80e5970cf9.js
  737.d01da50223341e52.js
  assets/i18n/en.json
  assets/i18n/es.json
  common.01f2f5a9d7517356.js
  common.68ad20a4dacd0483.js
  index.html
  main.5e380ec9935fe495.js
  main.62181a7676b6d059.js
  ngsw-worker.js
  ngsw.json
  runtime.d40b9f0c3ec38148.js
  runtime.d98eb7a1badbd46c.js
  safety-worker.js
  styles.4a4e4a0c801708ed.css
  styles.af94f25598ae40bb.css
  worker-basic.min.js
Due: none

Updates
  index.html
  main.5e380ec9935fe495.js
  main.865a961bccf563fa.js
  ngsw.json
Due: none

feat: update readme and about description
  README.md
  src/app/core/core.module.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

Updates
  assets/i18n/en.json
  assets/i18n/es.json
  ngsw.json
Due: none

Updates
  710.47f826c127bcd01b.js
  710.4e54430940e7fd88.js
  index.html
  ngsw.json
  runtime.b3f58e3684856b2b.js
  runtime.d98eb7a1badbd46c.js
Due: none

fix: fix loading message based on the current language
  src/app/views/home/components/pokemon-list/pokemon-list.component.html
  src/app/views/home/components/pokemon-list/pokemon-list.component.spec.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

chore: run npm update
  package-lock.json
  package.json
Due: none

feat: update angular to v16
  .eslintrc.json
  package-lock.json
  package.json
Due: none

refactor: convert interceptor to a http interceptor function
  src/app/app.config.ts
  src/app/core/core.module.ts
  src/app/core/interceptors/request.interceptor.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

refactor: remove core module
  package-lock.json
  package.json
  src/app/app.config.ts
  src/app/core/core.module.ts
  src/main.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

perf: add angular v16 performance improvements
  src/app/app.config.ts
  src/app/views/home/components/pokemon-card/pokemon-card.component.ts
  src/app/views/home/components/pokemon-list/pokemon-list.component.ts
  src/app/views/home/components/sidebar/sidebar.component.ts
  src/app/views/home/components/status-bar/status-bar.component.ts
  src/app/views/home/home.component.ts
  src/app/views/not-found/not-found.component.ts
  src/app/views/pokemon-details/components/battle-stats/battle-stats.component.ts
  src/app/views/pokemon-details/components/breadcrumb/breadcrumb.component.ts
  src/app/views/pokemon-details/components/paginator/paginator.component.ts
  src/app/views/pokemon-details/components/pokedex-entries/pokedex-entries.component.ts
  src/app/views/pokemon-details/components/pokemon-profile/pokemon-profile.component.ts
  src/app/views/pokemon-details/pokemon-details.component.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

test: add missing tests
  src/app/views/about/about.component.spec.ts
  src/app/views/not-found/not-found.component.spec.ts
  src/app/views/pokemon-details/components/breadcrumb/breadcrumb.component.spec.ts
Due: prettier --write --ignore-unknown --cache --cache-strategy metadata src, eslint --fix --cache --max-warnings=0

Path conditions:
  prettier --write --ignore-unknown --cache --cache-strategy metadata src: any of: src/**/*.{html,js,json,md,scss,ts}
  eslint --fix --cache --max-warnings=0: any of: src/**/*.{js,ts}
